<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    
    <ion-title>About us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-img src="../../assets/logo.jpg"></ion-img>
  <p id="heading"> Hello and Welcome!</p>
  <p> My name is Sophie and I am designing furniture and everyday objects. Mainly I use already used things and upcycle them to something wonderful.</p>
  <p> You can buy these products at my shop, located in Gerstetten, or you can do it by yourself in one of my workshops.</p>
  <p> If you have questions, do not hesitate to contact me! I am looking forward to meet you soon.</p>
  <p> <ion-icon name="heart-outline"></ion-icon> Sophie </p>
</ion-content>