ion-img{
    width: 50%; 
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: left;
    margin-right:15px;
    margin-bottom: 30px;
}

.map{
    margin-top: 20px;
    width: 100%;
    height: 50%;
}