<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    
    <ion-title>Where you can find us:</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

<div>
  <ion-img src="../../assets/myhouse.JPG" ></ion-img>
<p>Böhmenstraße 86,</p>
<p>89547 Gerstetten</p>
<p>Germany</p>
</div>

<div #Map class="map"></div>

<p>Email: sophiewestfahl@web.de</p>
<p>Telephone: +4915200000000</p>

</ion-content>