<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    
    <ion-title>NEW IN</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
<ion-list>
  <ion-card *ngFor ="let item of items" class="ion-text-center" (click)="openDetails(item)">
    <h3>{{item.name}}</h3>
    <ion-card-content>
      <img [src]="item.image" >
    </ion-card-content>
  </ion-card>
</ion-list>
</ion-content>