<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Give some Feedback</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list lines="full">
    <ion-item>
      <ion-label position="floating">Name: </ion-label>
      <ion-input [(ngModel)]="name"></ion-input>
    </ion-item> 

    <ion-item>
      <ion-label position="floating">E-mail: </ion-label>
      <ion-input [(ngModel)]="email" pattern="email"> </ion-input>
    </ion-item>

    <ion-item>
      <ion-range min="0" max="10" [(ngModel)]="scale" >{{scale}}</ion-range>
      <ion-icon name="thumbs-down-outline" slot="start"></ion-icon>
      <ion-icon name="thumbs-up-outline" slot="end"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Comment: </ion-label>
      <ion-input [(ngModel)]="comment" spellcheck="true" autocorrect="on"> </ion-input>
    </ion-item>
  </ion-list>

  <br><br>
  <ion-button (click)="pushComment()" (keypress)="pushEvent($event)">Send</ion-button>

</ion-content>
