<ion-header>
  <ion-toolbar>
    
      <ion-buttons>
        <ion-back-button></ion-back-button>
        <ion-title>{{items.name}}</ion-title>
      </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-img [src]= "items.image"></ion-img>
    <ion-card-content>
      <p>{{items.description}}</p>
      <br>
      <h4>Price from {{items.price}} €</h4>
    </ion-card-content>  
  </ion-card>
</ion-content>
